<% include partials/_header %>
<div class="container mt-5 ">
    <div class="row">
        <div class="col">
            <button type="button" class="btn bg-dark text-white btn-outline-dark btn-block" data-bs-toggle="modal" data-bs-target="#adduser">
               <strong>REGISTRAR NUEVO USUARIO</strong> 
              </button>
        </div>
    </div>
</div>
<% if(success_msg.length>0){%>
    <% include partials/_alertsuccess %>
<%}%>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <table class="table text-center  table-responsive table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Nombre de Usuario</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (datos) {%>
                        <% for(var i = 0; i < datos.length; i++) { %>
                            <tr>
                                <td><%= datos[i].idusuario %></td>
                                <td><%= datos[i].nombre %></td>
                                <td><%= datos[i].nombreU %></td>
                                <td>
                                     <!--Calling Delete modal from partials-->                                       
                                     <% include partials/_deleteusersmodal %>
                                     <!--/Delete modal-->  
                                     </div>
                                     <button type="button" class="btn btn-outline-warning mb-2" data-bs-toggle="modal" data-bs-target="#eliminaruser<%=datos[i].idusuario%>">
                                         Eliminar
                                       </button>
                                    <a href="/updateusuario/<%= datos[i].idusuario %>" class="btn btn-block btn-outline-info">Actualizar<a>   
                                </td>
                            </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table>
        </div>
      
    </div>
</div>
<% include partials/_addusersmodal %>
<% include partials/_footer %>
